# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# External sources

Libraries/gzstream

#Bug reports

Bug_reports/

# Executables for this project

NVT/NVT
makeconfig/makeconfig
shrinkconfig/shrinkconfig
config2eps/config2eps

analysis/pcf
analysis/wrap
analysis/2DOrder
analysis/map2eps

test/config_test
test/polygon_test
test/topology_test

# Compiled documentation

doxygen/html
doxygen/latex
